<!DOCTYPE html>
<html>
<head>
    <title>BandTogether - Home</title>
    <%= yield %> 
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <%provide(:title, "BandTogether - Home")%>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <!--<a class="page-scroll" href="#SignIn">Sign In</a>-->
                        <%= link_to "Sign In", new_user_session_path, :class => "page-scroll", :method => "get" %>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <% if signed_in? %>
     <h1> Home Page</h1>
     <h4> questa è l'home page che vede l'utente loggato</h4>
         
    <a>
        <%= button_to "Sign Out", destroy_user_session_path, :class => "btn btn-primary btn-md", :method => "delete" %>
        <br/>
        <%= button_to "Profile", users_show_path, :class => "btn", :method => "show" %>
    </a>                    
    <% else%>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">BandTogether</h1>
                        <p class="intro-text">You'll never play alone</p>
                        <br/>   
                        <%= button_to "Sign Up", new_user_registration_path, :class => "btn btn-primary btn-lg", :method => "get" %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About BandTogether</h2>
                <p>descizione piattaforma...</p>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Feel free to email us to provide some feedback on our application, give us suggestions for new function ,or to just say hello!</p>
                <p>Developers:</p>
                <p><a href="mailto:feedback@startbootstrap.com">roberto.caravelli@gmail.com</a></p>
                <p><a href="mailto:feedback@startbootstrap.com">xael93@gmail.com</a></p>
                <p><a href="mailto:feedback@startbootstrap.com">coluzziandreajh@gmail.com</a></p>
            </div>
        </div>
    </section>

<% end %>

</body>
</html>

