
<div class="row">
  <h2 align="center" style= "margin-bottom: 30px">Sign in</h2>
  <div class="col-md-4 col-md-offset-4" align="center" style= "margin-bottom: 30px">
    <div class="oauth" style="text-align: center;" >
      <%= button_to user_google_oauth2_omniauth_authorize_path, :class => "btn btn-danger btn-social btn-google" ,:style =>"margin-right: 10px;" do %>
      <span class="fa fa-google"></span> Sign in with Google 
      <%end%>
     or  
      <%= button_to user_facebook_omniauth_authorize_path, :class => "btn btn-primary btn-social-icon btn-facebook" ,:style =>"margin-left: 10px;" do %>
      <span class="fa fa-facebook"></span> Sign in with Facebook
      <%end%>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(:session, url: new_user_session_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <% if devise_mapping.rememberable? -%>
      <br/>

      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end -%>

      <br/>
      <%= f.submit "Sign In", class: "btn btn-primary btn-lg", style: "margin-left: 165px" %>
    <% end %>
    <br/>

    <p>New user? <%= link_to "Sign up now!", new_user_registration_path %></p>
  </div>
</div>
