<h4>Create Band<h4/>

<%= form_for(:band, url: band_create_path) do |f| %>
  
  <div class="field">
  	<%= f.label :name%>
  	<%= f.text_field :name %>
  </div>
  
  <div class="field">
  	<%= f.label :description %>
  	<%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :musical_genre, "Musical genre" %>
    <%= f.select(:musical_genre) do %>
      <% ["Rock", "Metal", "Jazz", "Blues", "Pop", "Classic", "Latin"].each do |c|%>
        <%= content_tag(:option, c, value: c) %>
      <% end %>
    <% end %>
  </div>

  
  <div class="actions">
  	<%= f.submit "Create", :id => "CreateBand" %>
  </div>

<% end%>