
<h2>Band '<%= @band.name %>'</h2>
<br/>
<p>
	<strong>Description: </strong> 	<%= @band.description %>
</p>

<p>
	<strong>Created At:</strong>	 <%= @band.created_at %>, by <%= link_to @band.band_manager.username, users_show_path(:id => @band.band_manager.id), :method => "get"%>
</p>

<p>
	<strong>Active in:</strong> <%= @band.city %> (<%= @band.region %>, <%= @band.nation %>)
</p>

<p>
	<strong>Musical Genre:</strong>	<%= MusicalGenre.find_by_id(@band.musical_genre_id).name %>
</p>

<br/>

<br/>

<div id="pnlActiveAdvertisments" >
	<h4> Active Advertisments </h4>
	<ol>
    	<% @advs.each do |a| %><br/>

    		<li>
    			<%= link_to a.title, advertisment_show_path(:id => a.id), :method => "get" %>
    			<ul>
    			<li>
    				<%= link_to "edit" , advertisment_edit_path(:id => a.id), :method => "get"%>

    			<%= link_to "delete" , advertisment_destroy_path({:id => a.id, :band_id => @band.id}), :method => "delete", data:  { confirm: "Are you sure?" } %>
    			</li>
    			</ul>
    		</li>

    	<% end %>
    </ol>

</div>

<br/>

<div id="pnlBandMembers" >
	<h4> Band Members </h4>
	<ol>
    	<% @bandMembers.each do |member| %><br/>

    		<li>
    			<%= link_to member.username, users_show_path(:id => member.id), :method => "get" %>:
					<%= TypeOfMusician.find_by_id(member.type_of_musician_id).name %>
				</li>

    	<% end %>
    </ol>

</div>

<!-- andrea
		se l'utente è band manager
-->

<% if (current_user.id==@band.band_manager_id) %>
<!-- andrea
		se l'utente è band manager
-->
	<br/><br/><%= link_to "New Advertisment", advertisment_new_path(:band_id => @band.id), :class => "btn btn-primary btn-md", :method => "get" %>


<% else %>
	 	<% if @band.users.include? current_user %>
		<!-- andrea
				se l'utente è band member
		-->
			<br/><%= link_to "Leave Band", "#", :class => "btn btn-primary btn-md", :method => "get" %>

			<% else %>

			<!-- andrea
					se l'utente è generic user
			-->
					<br/><%= link_to "Join Band", "#", :class => "btn btn-primary btn-md", :method => "get" %>

			<% end %>

<% end %>


	<% if @active_users.include? current_user %>
		<br/><%= link_to "Messages", mailbox_inbox_path(selected_band_id: @band.id), :class => "btn btn-primary btn-md", :method => "get" %>
	<% end %>

	<br/><br/>
	<h3><%= link_to "Review this Band", reviews_new_path(:id => @band.id, reviewable_type: 'Band')%></h3>
<br/>
