  <%= render :partial => 'layouts/settings_sidebar' , :locals => {:currentPage => "ProfileInformations" }  %>

<div class="col-md-6 col-md-offset-3" id="SettingsMainContainer">
  <%= form_for(:user, as: :user, url: users_update_profile_informations_path, html: {method: :post}) do |f| %>

    <div class="field">
      <%= f.label :first_name , "First name"%><br />
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name , "Last name"%><br />
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :gender, "Gender"%><br />
      <%= f.radio_button :gender, "M" %>
      <%= f.label :gender_male , "Male"%>
      <%= f.radio_button :gender, "F" %>
      <%= f.label :gender_female , "Female"%>
    </div>

    <div class="field">
      <%= f.label :birth , "Birth date"%><br />
      <%= f.text_field :birth, "data-provide" => 'datepicker' %>
    </div>

    <br>


    <div class="field">
      <select id="countries" name="nation">
        <option value="" selected="">Select country</option>}
        <% CS.countries.each do |key, value| %>
        <option value="<%= key %>"><%= value %></option>
        <% end %>
      </select>

      <br/>
      <br/>

      <select name="region" id="states-of-country">
        <option value="" selected="">Select state/province</option>
      </select>

    <!-- Script che genera la select "region" quando viene selezionata una nazione nella select "nation" - RezeR -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>

    <script>
      $('#countries').change(function(){
        $("#user_nation").val($(this).find(":selected").text()); //Setta il value del campo hidden nation al valore selezionato nella select "nation"
        $.getJSON('/states/' + $(this).val() , function(data){
          $('#states-of-country').empty();
          $.each(data, function(i, ele){
            var opt = '<option value='+ ele +'>' + ele + '</option>';
            $('#states-of-country').append(opt);
          });
          $("#user_region").val($('#states-of-country').find(":selected").text()); //Setta il value del campo hidden region al primo valore selezionato nella select "region"
        });
      });
    </script>

    <!-- Script che setta il value del campo hidden "region" quando viene selezionata una nuova regione (diversa dalla prima) nella select "region" - RezeR -->

    <script>
      $('#states-of-country').change(function(){
        $("#user_region").val($(this).find(":selected").text());
      });
    </script>


    <!--
    I due campi hidden "nation" e "region" servono per salvare i valori della nazione e della regione selezioni e che verranno passati alla POST.
    RezeR
    -->

    <div class="field">
      <%= f.hidden_field :nation %>
      <%= f.hidden_field :region %>
    </div>
    </div>


    <br>

    <div class="field">
      <%= f.label :type_of_musician, "Instrument played" %><br/>
      <%= f.select(:type_of_musician) do %>
        <% ["Drummer", "Lead_guitarist", "Rhythmic_guitarist", "Bass_guitarist", "Keyboardist", "Singer", "Winds"].each do |c|%>
          <%= content_tag(:option, c, value: c, selected: c == current_user.type_of_musician) %>
        <% end %>
      <% end %>
    </div>

    <br>

    <div class="field">
      <%= f.label :musical_genre, "Favourite musical genre" %><br/>
      <%= f.select(:musical_genre) do %>
        <% ["Rock", "Metal", "Jazz", "Blues", "Pop", "Classic", "Latin"].each do |c|%>
          <%= content_tag(:option, c, value: c, selected: c == current_user.musical_genre) %>
        <% end %>
      <% end %>
    </div>

    <br>

    <div class="actions">
      <%= f.submit "Update", :id => "Update" ,class: "btn btn-primary" %>
    </div>


    <br>

  <% end %>

</div>
