  <%= render :partial => 'layouts/settings_sidebar' , :locals => {:currentPage => "ProfileInformations" }  %>

<div class="col-md-4 col-md-offset-3" id="SettingsMainContainer">

  <%= form_for(@user, as: :user, url: users_update_profile_informations_path, html: {method: :post}) do |f| %>
  <%= render 'layouts/model_error_messages', object: @user %>
    <div class="field">
      <%= f.label :first_name , "First name"%><br />
      <%= f.text_field :first_name , class: 'form-control' %>
    </div>

    <br/>

    <div class="field">
      <%= f.label :last_name , "Last name"%>
      <%= f.text_field :last_name , class: 'form-control' %>
    </div>

    <br/>
    <div class="field">
      <%= f.label :gender, "Gender"%>
      <%= f.select(:gender, options_for_select([["Male","M"],["Female","F"]] ), {}, {:class => 'form-control'})  %>

      </div>
      <br/>

    <div class="field">
      <%= f.label :birth , "Birth date"%>
      <%= f.date_field :birth,  class: 'form-control' ,  "data-provide" => 'datepicker' %>
    </div>

    <br>


    <div class="field">
      <%= f.hidden_field :nation %>
      <%= f.hidden_field :region %>
      <%= f.hidden_field :city %>
    </div>


    <div class="field">
      <%= f.label :nation , "Nation"%>
      <select id="countries" name="nation" class="form-control">
        <option value="" selected="">Select country</option>}
        <% CS.countries.each do |key, value| %>
          <% if @user.nation == value %>
            <% @nationKey = key %>
            <option value="<%= key %>" selected><%= value %></option>
          <% else %>
            <option value="<%= key %>"><%= value %></option>
          <% end %>
        <% end %>
      </select>

      <br/>

  <%= f.label :region , "Region"%>
      <select name="region" id="states-of-country" class="form-control">
        <% if @user.nation != nil %>
          <% CS.states(@nationKey).each do |key, value| %>
            <% if @user.region == value %>
              <% @regionKey = key %>
              <option value="<%= key %>" selected><%= value %></option>
            <% else %>
              <option value="<%= key %>"><%= value %></option>
            <% end %>
          <% end %>
        <% else %>
          <option value="" selected="">Select state/province</option>
        <% end %>
      </select>

  <br/>


  <%= f.label :city , "City"%>


  <select name="city" id="city-of-region" class="form-control">
    <% if @user.region != nil %>
      <% CS.cities(@regionKey,@nationKey).each do |value| %>
        <% if @user.city == value %>
          <option value="<%= value %>" selected><%= value %></option>
        <% else %>
          <option value="<%= value %>"><%= value %></option>
        <% end %>
      <% end %>
    <% else %>
        <option value="" selected="">Select City</option>
    <% end %>
  </select>




    </div>




    <br>

    <div class="field">

      <%= f.label :type_of_musician_id , "Instrument Played"%>
      <%= collection_select :user, :type_of_musician_id, TypeOfMusician.all, :id, :name, {:selected => @user.type_of_musician_id}, {class: 'form-control'} %>

    </div>

    <br>

    <div class="field">
      <%= f.label :musical_genre_id , "Favourite musical genre"%>
      <%= collection_select :user, :musical_genre_id, MusicalGenre.all, :id, :name, {:selected => @user.musical_genre_id}, {class: 'form-control'} %>
    </div>
    <br>

    <div class="actions">
      <%= f.submit "Update", :id => "Update" ,class: "btn btn-primary" %>
    </div>


    <br>

  <% end %>

</div>
