<!DOCTYPE html>
<html>
<head>
	<title>User Pofile</title>

</head>

<body>
	<h1>User's Profile</h1>

	<h2>
  <%= gravatar_for @user %>
</h2>

	 <p> <strong>Username:</strong> <%= @user.username %><br/>

	 <p><strong>Email:</strong> <%= @user.email %> </p>

	 <p><strong>First Name:</strong> <%= @user.first_name %> <p/>

	 <p><strong>Last Name:</strong> <%= @user.last_name %><p/>

	 <p><strong>From:</strong> <%= @user.city %>, <%= @user.region %>, <%= @user.nation %></p>

	 <p><strong>I'm a:</strong> <%= TypeOfMusician.find_by_id(@user.type_of_musician_id).name %> </p>

	 <p><strong>Musical Genre:</strong> <%= MusicalGenre.find_by_id(@user.musical_genre_id).name %> <p/>

	<% if @user.id != current_user.id %>
	<div id="following">
		<% if !current_user.following?(@user) %>
			<%= button_to "Follow", following_relationships_create_path(:followed_id => @user), :method => "post", :class => "btn btn-primary btn-md" %>
		<%else%>
			<%=button_to "Unfollow", following_relationships_destroy_path(:followed_id => @user), :class => "btn btn-primary btn-md" %>
		<%end%>
	<div/>
	<%end%>

	 <div id="pnlCreatedBands">
		 <h2>Created Bands</h2>
		 <ol>
			<% @createdBands.each do |b| %><br/>
				<li><%= link_to b.name, band_show_path(:id => b.id), :method => "get" %>
					<% if b.band_manager == current_user %>
						<%= link_to "edit", band_edit_path(:id => b.id), :method => "get" %>
						<%= link_to "delete", band_destroy_path(:id => b.id), :method => "delete", data: { confirm: "Are you sure?" }%>
					<% end %>
				</li>
			<% end %>
		 </ol>
	 </div>

	 <div id="pnlJoinedBands">
		 <h2>Joined Bands</h2>
		 <ol>
			<% @joinedBands.each do |b| %><br/>
				<li><%= link_to b.name, band_show_path(:id => b.id), :method => "get" %></li>
			<% end %>
		 </ol>
	 </div>

	 <br/><br/>
	 <%if !current_user.reviewed?(@user.id) %>
		 <div id="review">
		 	<%if current_user != @user %> 
		 		<h3><%= link_to "Review this user", reviews_new_path(:id => @user.id), :method => "get" %></h3>
		 	<%end%>
		 </div>
	 <%end%>
	 <br/><br/>

	
	<h3>People says about me...</h3>
	 
	 <div id ="received_review">

	 	<%@user.received_reviews.each do |rev| %>
	 		<%@reviewer = User.find(rev.reviewer_id)%>
		 	<% (1..rev.rating).each do |i| %>
		 		<span id=i class="glyphicon glyphicon-star" style="color:#FFD700;font-size: 20px;"></span>
		 	<%end%>
		 	<% (rev.rating..4).each do |i| %>
		 		<span id=i class="glyphicon glyphicon-star" style="color:#A9A9A9;font-size: 20px;"></span>
		 	<%end%>

	 		<br/>
			<%= rev.description%><br/>
			from: <b><%= link_to @reviewer.username, users_show_path(:id => @reviewer.id)%></b> 
	 	<%end%>
		
	 </div><br/>

	 <h3> My Reviews</h3>
	 <div id ="sended_review">

	 	<%@user.sended_reviews.each do |rev| %>
	 		<%@reviewed = User.find(rev.reviewed_id)%>
		 	<% (1..rev.rating).each do |i| %>
		 		<span id=i class="glyphicon glyphicon-star" style="color:#FFD700;font-size: 20px;"></span>
		 	<%end%>
		 	<% (rev.rating..4).each do |i| %>
		 		<span id=i class="glyphicon glyphicon-star" style="color:#A9A9A9;font-size: 20px;"></span>
		 	<%end%>

	 		<br/>
			<%= rev.description%><br/>
			<b>to: <%= link_to @reviewed.username, users_show_path(:id => @reviewed.id)%><b/>
	 	<%end%>
	 	
	 </div>

</body>

</html>
