<!DOCTYPE html>
<html>
<head>
	<title>User Pofile</title>
</head>


<body>
	<h2>Profilo utente</h2>


	<h1>
  <%= gravatar_for @user %>
  <%= @user.username %>
</h1>


	 <p>Username: <%= @user.username %><br/>

	 <p>Email: <%= @user.email %> </p>
	 
	 <p>First Name: <%= @user.first_name %> <p/>
	 
	 <p>Last Name: <%= @user.last_name %><p/> 

	 <p>from <%= @user.nation %></p>

	 <p>I'm a: <%= @user.type_of_musician %> </p>
	 
	 <p>Musical Genre: <%= @user.musical_genre %> <p/>

	 <br/><%= button_to "Sign Out", destroy_user_session_path, :id => "SignOut", :class => "btn btn-danger btn-md", :method => "delete" %>
</body>

</html>
