<!DOCTYPE html>
<html>
<head>
	<title>User Pofile</title>
</head>


<body>
	<h2>Profilo utente</h2>


	 <p>Username: <%= @user.username %><br/>
	 
	 <p>Email: <%= @user.email %> </p><br/>

	 <p> <%= @user.first_name %> <%= @user.last_name %> from <%= @user.nation %></p><br/>

	 <p>I'm a <%= @user.musical_genre %> <%= @user.type_of_musician %> !</p><br/>


	 
</body>

</html>
	