



  <div class="col-md-4">
    <div class="panel panel-default">
      <div class = "panel-heading">



      <%= link_to "New Conversation", new_conversation_path, class: "btn btn-success center-block", style: "align: center;"%>


      <% inbox_btn_class =  button_class_active_recipient(:inbox) %>
      <% trash_btn_class =  button_class_active_recipient(:trash) %>

      <div style="margin-top:10px;">


      <%= link_to mailbox_inbox_path ,class: inbox_btn_class ,style: "width: 48%;" do  %>
          <span class="label label-danger pull-right"><%=unread_messages_count%></span>
          <em class="fa fa-inbox fa-lg"></em>
          <span>Inbox</span>
      <% end %>
      <%= link_to mailbox_trash_path ,class: trash_btn_class ,style: "width: 48%;" do %>
          <em class="fa fa-trash-o fa-lg"></em>
          <span>Trash</span>
      <% end %>
      </div>

      <div style="margin-top:10px;">
        <strong>
            Band:
        </strong>




        <% if @selected_band.nil? %>
        <%    selectedBandID = " " %>
        <% else %>
        <%    selectedBandID = @selected_band.id %>
        <% end %>





      <%= select_tag 'cmbBandConversationsFilter', options_for_select(@bands.collect{ |b| [b.name, b.id] },selectedBandID), include_blank: "No Band Selected" ,:onchange => "filterBands(event,this);", :class => "selectpicker" %>


      </div>


      <h2 class = "panel-title" style="margin-top:5px;">
        <b>Conversations:</b>


      </h2>






        </div>






      <div class="panel-body" id="pnlConversations">

            <ul class="contacts">
              <%= render partial: 'conversations/conversation', collection: conversations %>
            </ul>


      </div>

    </div>
  </div>



  <div class="col-md-8">
    <div class="panel panel-default">
        <% if is_new_conversation %>

              <div class = "panel-heading">
                <h2 class = "panel-title">
                  New Conversation
                </h2>
              </div>

              <div class="panel-body">
                  <%= render 'conversations/form' %>
              </div>

        <% else %>
          <% if to_show_conversation %>

              <% colorsArray = ["#ee9c79","#d6a6d2","#5ad0a3","#dcdd70","#BACDE1","#bae1e1"] %>

              <% colorsMap = {} %>

              <div class = "panel-heading">
                  <h2 class = "panel-title">
                    <b><%= conversation.subject %></b>

                     <small>
                        <% counter = 0 %>

                        <% conversation.recipients.each do |rec| %>

                          <% colorsMap[rec.username] = colorsArray[counter] %>
                          <% nameToDisplay =  rec.username == current_user.username ? "You" : rec.username %>



                          <%= "<span style='color: #{colorsMap[rec.username]};'><b>
                                    #{nameToDisplay}
                                  </b>  </span>".html_safe %>
                            <% counter += 1 %>
                        <% end %>
                    </small>
                  </h2>
              </div>


              <div class="panel-body" id="pnlChat">


                <ul class="chat">


                     <%= render partial: 'messages' , locals: {colors: colorsMap } %>

                   </ul>


              </div>
              <div class="panel-footer">
                <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
                    <div class="form-group">
                      <%= f.text_area :body, placeholder: "Reply Message", rows: 3, class: "form-control", required: "required" %>
                    </div>
                    <%= f.submit "Reply", class: 'btn btn-primary pull-right' %>
                <% end %>
                <div class="clearfix"></div>
              </div>

          <% else %>

              <div class="panel-body">
                No Conversation Selected.
              </div>

           <% end %>
        <% end %>

    </div>
  </div>
