
<p> <h2>Advertisment '<%= @advertisment.title %>'</h2></p>

<p> <strong>Band:</strong> <%= @advertisment.band.name %> </p>

<p> Created by: <%= @advertisment.user.username%> </p>

<p>
	<strong>Band Active in:</strong> <%= @advertisment.band.city %> (<%= @advertisment.band.region %> , <%= @advertisment.band.nation %>)
</p>

<p>
	<strong>Musical Genre:</strong>	<%= MusicalGenre.find_by_id(@advertisment.band.musical_genre_id).name %>
</p>

<p> <strong>Created by:</strong> <%= @advertisment.user.username %> </p>

<p> <strong>Description:</strong> <%= @advertisment.description%> </p>

<p> <strong>Valid From:</strong> <%= @advertisment.start_date %>  <strong> To:</strong> <%= @advertisment.term_date %> </p>
<p> <strong>musicians: </strong>
	<ul> 
	<% @advertisment.musicians.each do |m| %>
		<% if m[1]!='' and m[1]!='0'%>
			
			<% s=m[0].split (/_/) %>
			
			<li>
				<%=m[1]%> 
				<%if !s[1].nil? %>
					<%= s[1].capitalize%>
				<%end%> 
				
				<%= s[0].capitalize%>
			</li>
		<%end%>
	<%end%>
	</ul> 