<% unless smart_listing.empty? %>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Musical Genre</th>
				<th>Nation</th>
				<th>Region</th>
				<th>City</th>
			</tr>
		</thead>
		<tbody>
			<% smart_listing.collection.each do |o| %>
				<tr>
					<td><%=o.name%></td>
					<td><%=o.description%></td>
					<td><%= MusicalGenre.find_by_id(o.musical_genre_id).name %></td>
					<td><%=o.nation%></td>
					<td><%=o.region%></td>
					<td><%=o.city%></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>	