<div class="col-sm-3 col-md-3 sidebar">

      <div class="panel panel-default">

        <div class="panel-body" id ="info_panel">
        	<p> <h2>'<%= @activity.title %>'</h2></p>

			<p> <strong>Band:</strong> <%= link_to @activity.band.name, band_path(@activity.band) %></p>

			<p>
				<strong>Band Active in:</strong> <%= @band.city %> (<%= @band.region %> , <%= @band.nation %>)
			</p>

			<p> <strong>Accessibility:</strong> <%= @activity.accessibility%> </p>

			<p> <strong>Start at:</strong> <%= @activity.start_date.strftime("%B %d, %Y at %H:%M") %>

			  <p> <strong>End at:</strong> <%= @activity.end_date.strftime("%B %d, %Y at %H:%M") %>

			<p> <strong>Location:</strong> <%= @activity.location %>

			<br/>
			<br/>
			 <%if current_user.id == @activity.band_manager.id %>
				<%= link_to "Edit" , edit_activity_path(@activity), :method => "get", :class => "btn btn-info" %>
				&nbsp;
				<%= link_to "Delete" , activity_path(@activity), :method => "delete", :class => "btn btn-danger",  data:  { confirm: "Are you sure?" } %>
			<% end %>


        </div>
      </div>
</div>


<div class="col-md-4">

	<div class="panel panel-default">
		<div class = "panel-heading">
			<h2 class = "panel-title">
				Description
			</h2>
		</div>
		<div class="panel-body">
			<div id="pnlDescription" >

				<%= @activity.description%> 
			</div>
		</div>	
	</div>

</div>
<div class="col-md-4">

	<div class="panel panel-default">
		<div class = "panel-heading">
			<h2 class = "panel-title">
				Band Members
			</h2>
		</div>
		<div class="panel-body">
			<div id="pnlBandMembers" >

				<ul>
		    		<% @activity.band.active_users.each do |member| %><br/>
		    			<li>
		    				<%= link_to member.username, users_show_path(:id => member.id), :method => "get" %>
		    			</li>
		    		<%end%>
		    	</ul>
			</div>
		</div>	
	</div>
</div>
