<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Filters</h3>
		</div>
		<div class="panel-body">
			<% case type %>
				<% when "ads" %>
					<%= form_tag(search_index_path, method: "get", remote: true, id: "ads-filters") do %>
						<%= hidden_field_tag :search, params[:search] %>
						<div class="panel-heading">
							<h5 class="panel-title">Band</h5>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<%= select_tag "band_name", options_for_select(select_options(@advertisments, 'ads_band'), params[:band_name]), {:prompt => "Select Band", class: 'form-control'} %>
							</div>							
						</div>
						<div class="panel-heading">
							<h5 class="panel-title">Band's Genre</h5>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<%= collection_select :ads, :musical_genre_id, MusicalGenre.all, :id, :name, {:prompt => "Select Genre"}, class: 'form-control' %>
								<%= hidden_field_tag :ad_genre_id %>
							</div>							
						</div>
						<div class="panel-heading">
							<h5 class="panel-title">Band Manager</h5>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<%= select_tag "band_manager_ad", options_for_select(select_options(@advertisments, 'ads_band_manager'), params[:band_manager_ad]), {:prompt => "Select Band Manager", class: 'form-control'} %>
							</div>							
						</div>
						<div class="panel-heading">
							<h5 class="panel-title">Start Date</h5>
						</div>
						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">
									<div class="form-group">
										<%= date_field_tag "start_date", {"data-provide" => 'datepicker'}, class: 'form-control'  %>
									</div>
								</li>
								<li class="list-group-item">
									<%= radio_button_tag :con_start_date, :lt, params[:con_start_date] == "lt" %> Before
								</li>
								<li class="list-group-item">
									<%= radio_button_tag :con_start_date, :gt, params[:con_start_date] == "gt" %> After
								</li>
							</ul>														
						</div>
						<div class="panel-heading">
							<h5 class="panel-title">Term Date</h5>
						</div>
						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">
									<%= check_box_tag "active"%> All active Ads		
								</li>
								<li class="list-group-item">
									<div class="form-group">
										<%= date_field_tag "term_date", {"data-provide" => 'datepicker'}, class: 'form-control'  %>
									</div>
								</li>
								<li class="list-group-item">
									<%= radio_button_tag :con_term_date, :lt, params[:con_term_date] == "lt" %> Before
								</li>
								<li class="list-group-item">
									<%= radio_button_tag :con_term_date, :gt, params[:con_term_date] == "gt" %> After
								</li>
							</ul>														
						</div>
						<div class="col-md-3">
							<%= submit_tag "Filter", :name => nil, class: "btn btn-secondary" %>
						</div>
					<% end %>
					
				<% when "users" %>
					<%= form_tag(search_index_path, method: "get", remote: true, id: "user-filters") do %>
						<%= hidden_field_tag :search, params[:search] %>
						
						<div class="panel-heading">
							<h5 class="panel-title">Gender</h5>
						</div>					
						<div class="panel-body">						
							<ul class="list-group">
								<li class="list-group-item">								
									<%= radio_button_tag :gender, "M", params[:gender] == "M"%> Male									
								</li>
								<li class="list-group-item">
									<%= radio_button_tag :gender, "F", params[:gender] == "F"%> Female			
								</li>
							</ul>										
						</div>

						<div class="panel-heading">
							<h5 class="panel-title">Age</h5>
						</div>					
						<div class="panel-body">						
							<ul class="list-group">
								<li class="list-group-item">								
									<input id="age" class="slider" data-slider-id='ageSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="<%= params[:selected_age]  %>" style="width:100% !important"/>
									<%= hidden_field_tag :selected_age %>									
								</li>
								<li class="list-group-item">
									<%= radio_button_tag :condition, :lt, params[:condition] == "lt" %> Older than
								</li>
								<li class="list-group-item">
									<%= radio_button_tag :condition, :gt, params[:condition] == "gt" %> Younger than
								</li>
							</ul>										
						</div>

						<div class="panel-heading">
							<h5 class="panel-title">Musical Genre</h5>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<%= collection_select :user, :musical_genre_id, MusicalGenre.all, :id, :name, {:prompt => "Select genre"}, class: 'form-control' %>
								<%= hidden_field_tag :musical_genre_id %>
							</div>							
						</div>

						<div class="panel-heading">
							<h5 class="panel-title">Instrument Played</h5>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<%= collection_select :user, :type_of_musician_id, TypeOfMusician.all, :id, :name, {:prompt => "Select musician"}, {class: 'form-control'} %>
								<%= hidden_field_tag :type_of_musician_id %>
							</div>							
						</div>

						<div class="panel-heading">
							<h5 class="panel-title">Nation</h5>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<%= select_tag "nation", options_for_select(select_options(@users, 'nation'), params[:nation]), {:prompt => "Select Nation", class: 'form-control'} %>
							</div>							
						</div>

						<div class="panel-heading">
							<h5 class="panel-title">Region</h5>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<%= select_tag "region", options_for_select(select_options(@users, 'region'), params[:region]), {:prompt => "Select Region", class: 'form-control'} %>
							</div>							
						</div>

						<div class="panel-heading">
							<h5 class="panel-title">City</h5>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<%= select_tag "city", options_for_select(select_options(@users, 'city'), params[:city]), {:prompt => "Select City", class: 'form-control'} %>
							</div>							
						</div>

						<div class="col-md-3">
							<%= submit_tag "Filter", :name => nil, class: "btn btn-secondary" %>
						</div>
					<% end %>										
				<% else %>

					<%= form_tag(search_index_path, method: "get", remote: true, id: "bands-filters") do %>
						<%= hidden_field_tag :search, params[:search] %>

						<div class="panel-heading">
							<h5 class="panel-title">Band Manager</h5>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<%= select_tag "band_manager", options_for_select(select_options(@bands, 'band_manager'), params[:band_manager]), {:prompt => "Select Band Manager", class: 'form-control'} %>
							</div>							
						</div>

						<div class="panel-heading">
							<h5 class="panel-title">Band's Genre</h5>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<%= collection_select :band, :musical_genre_id, MusicalGenre.all, :id, :name, {:prompt => "Select Genre"}, class: 'form-control' %>
								<%= hidden_field_tag :band_genre_id %>
							</div>							
						</div>

						<div class="panel-heading">
							<h5 class="panel-title">Nation</h5>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<%= select_tag "band_nation", options_for_select(select_options(@bands, 'nation'), params[:band_nation]), {:prompt => "Select Nation", class: 'form-control'} %>
							</div>							
						</div>

						<div class="panel-heading">
							<h5 class="panel-title">Region</h5>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<%= select_tag "band_region", options_for_select(select_options(@bands, 'region'), params[:band_region]), {:prompt => "Select Region", class: 'form-control'} %>
							</div>							
						</div>

						<div class="panel-heading">
							<h5 class="panel-title">City</h5>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<%= select_tag "band_city", options_for_select(select_options(@bands, 'city'), params[:band_city]), {:prompt => "Select City", class: 'form-control'} %>
							</div>							
						</div>

						<div class="col-md-3">
							<%= submit_tag "Filter", :name => nil, class: "btn btn-secondary" %>
						</div>
					<% end %>
			<% end %>

			<div class="col-md-3">
				<%= form_tag(search_index_path, method: "get", remote: true, id: "remove-user-filters") do %>
					<%= hidden_field_tag :search, params[:search] %>
					<%= submit_tag "Reset", :name => nil, class: "btn btn-secondary" %>
				<% end %>						
			</div>
		</div>
	</div>
</div>