<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Filters</h3>
		</div>
		<div class="panel-body">
			<% case type %>
				<% when "ads" %>
					<ul>
						<li></li>
					</ul>
				<% when "users" %>
					<%= form_tag(search_index_path, method: "get", id: "user-filters") do %>
						<%= hidden_field_tag :search, params[:search] %>
						
						<div class="panel-heading">
							<h5 class="panel-title">Gender</h5>
						</div>					
						<div class="panel-body">						
							<ul class="list-group">
								<li class="list-group-item">								
									<%= radio_button_tag :gender, "M"%> Male									
								</li>
								<li class="list-group-item">
									<%= radio_button_tag :gender, "F"%> Female								
								</li>
							</ul>										
						</div>

						<div class="panel-heading">
							<h5 class="panel-title">Age</h5>
						</div>					
						<div class="panel-body">						
							<ul class="list-group">
								<li class="list-group-item">								
									<input id="age" class="slider" data-slider-id='ageSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" style="width:100% !important"/>
									<%= hidden_field_tag :selected_age %>									
								</li>
								<li class="list-group-item">
									<%= radio_button_tag :condition, :lt%> Older than
								</li>
								<li class="list-group-item">
									<%= radio_button_tag :condition, :gt%> Younger than
								</li>
							</ul>										
						</div>

						<div class="panel-heading">
							<h5 class="panel-title">Musical Genre</h5>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<%= collection_select :user, :musical_genre_id, MusicalGenre.all, :id, :name, {}, class: 'form-control' %>
								<%= hidden_field_tag :musical_genre_id %>
							</div>							
						</div>

						<div class="panel-heading">
							<h5 class="panel-title">Instrument Played</h5>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<%= collection_select :user, :type_of_musician_id, TypeOfMusician.all, :id, :name, {}, {class: 'form-control'} %>
								<%= hidden_field_tag :type_of_musician_id %>
							</div>							
						</div>

						<%= submit_tag "Add Filters", :name => nil, class: "btn btn-secondary" %>
					<% end %>					
				<% else %>
					<ul>
						<li></li>
					</ul>
			<% end %>
		</div>
	</div>
</div>