<!DOCTYPE html>
<html>
  <head>
    <title>BandTogether</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'BTLogo.png' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


  </head>



  <body class="<%= controller_name %>_<%= action_name %>">

    <%= render :partial => 'layouts/navigation_bar' %>

    <!-- andrea.  renderizzo i messaggi ma solo per le pagine che non hanno un layout particolare -->
    <% current_uri = request.env['PATH_INFO'] %>
    <% if !uri_without_flash_messages.include? current_uri %>
      <%= render 'layouts/messages' %>
    <% end %>

    <%= yield %>

  </body>

</html>
